// bower:scss
// endbower

.browsehappy {
  background: white;
}

body {
  margin: 0;
  padding: 0;
  background: white;
}

.header {
  -webkit-transition: 6s;
    -moz-transition: 6s;
    -o-transition: 6s;
    transition: 6s;
    background: rgba(4, 36, 41, 0.89) url(http://sailsjs.org/images/img_sailsShadow.png) no-repeat 42% bottom;
  background-color: rgb(17, 135, 152);
    padding: 100px 0 65px;
}

#main-title {
  color: #fff;
    font-weight: 300;
    font-size: 2.5em;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container {
  width: 100%;
  height: 40px;

  ul {
    margin: 0px;
    border-bottom: 2px solid #cedddd;
    padding: 15px;
  }
}

.container li {
  margin-right: 20px;
  display: inline;
  text-decoration: none;

  a {
    color: #00919c;
    font-size: 18px;
    list-style: none;
  }
}

.content {
  margin: 40px;
  font-size: 18px;
  a {
    color: #7b7b7b;
  }

  .versions {
    list-style-type: none;
    padding-left: 25px;
  }
}

.jumbotron {
  width: calc(50% - 20px);
  display: inline-block;
}

.jumbotron > ul {
    padding:0;
}

.clickTemplate:active {
  background-color: #c3d2d2;
}

.template {
  padding: 15px;
  border-radius: 10px;
  list-style: none;
  background-color: #e2f1f1;
  margin-bottom: 20px;

  h3{
    position: relative;
    button {
      position: absolute;
      bottom: 0px;
      right: 8px;
    }
  }
}

button {
      margin: 15px 0 0;
  display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  color: #7b7b7b;
  background-color: #fff;
  border-color: #ccc
}

button:hover {
  background-color: #e8e8e8;
}

.form-control {
  display: block;
    margin: 10px;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.sendMail {
  width: calc(50% - 20px);
  display: inline-block;
  vertical-align: top;
  .template {
    margin-right: 15px;
  }
}

.status {
  height: 30px;
  margin-top: 15px;
  line-height: 30px;
  color: #fff;
  border-radius: 6px;
  padding-left: 10px;
  background-color: rgb(17, 135, 152);
}

textarea.middle {
  height: 100px;
}

textarea.big {
  height: 150px;
}

.small {
  width: 40%
}
