<div class="sendMail">
  <h2>Send Mail</h2>
  <div class="template">
    <h3>Select template to send from the list...</h3>
    <div ng-show="viewMessage">
      <div>Messages quantity: <a><input class="form-control" type="number" placeholder="" ng-model="message.count"/></a></div>
      <div>From Email: <a><input class="form-control" type="email" placeholder="" ng-model="message.from_email"/></a></div>
      <div>To Email: <a><input class="form-control" type="email" placeholder="" ng-model="message.to_email"/></a></div>
      <div>Subject Text: <textarea class="form-control" ng-model="message.subject"></textarea></div>
      <div>Body Text: <textarea class="form-control" ng-model="message.body"></textarea></div>
      <div>Subscription #1:
        <input class="form-control small" placeholder="Key" ng-model="message.subs[0].key"/>
        <input class="form-control small" placeholder="Value" ng-model="message.subs[0].value"/></div>
      <div>Subscription #2:
        <input class="form-control small" placeholder="Key" ng-model="message.subs[1].key"/>
        <input class="form-control small" placeholder="Value" ng-model="message.subs[1].value"/></div>
      <h4>Template data:</h4>
      <div>Template Name: <a>{{futureEmailData.name}}</a></div>
      <div>Version Name: <a>{{futureEmailData.versions[0].name}}</a></div>
      <div>Template Subject: <textarea disabled class="form-control">{{futureEmailData.versions[0].subject}}</textarea></div>
      <div>Template Body (HTML): <textarea disabled class="form-control middle">{{futureEmailData.versions[0].html_content}}</textarea></div>
      <div>Template Body (Plain): <textarea disabled class="form-control middle">{{futureEmailData.versions[0].plain_content}}</textarea></div>
      <button ng-click="sendEmail(futureEmailData.id)">Send Email</button>
    </div>
    <div class="status" ng-show="viewStatus" >Status: {{status}}</div>
  </div>
</div>

<div class="jumbotron">
  <h2>Create new Template</h2>
    <div class="template">
      <div>Template Name: <a><input class="form-control" ng-model="newTemplate.name"/></a></div>
      <div>Version Name: <a><input class="form-control" ng-model="version.name"/></a></div>
      <div>Is Active: <br><input type="checkbox" ng-model="version.active" ng-true-value="1" ng-false-value="0"></div>
      <div>Subject Content: <textarea class="form-control middle">{{version.subject}}</textarea></div>
      <div>Body HTML Content: <textarea class="form-control middle">{{version.html_content}}</textarea></div>
      <button ng-click="createNewTemplate()">Create</button>
    </div>

  <h2 ng-show="template.length > 0">Templates</h2>
  <ul class="templates">
    <li class="template clickTemplate" ng-click="setIntoMail($index)" ng-repeat="template in templates">
      <h3>Name:  <a >{{template.name}}</a><button ng-click="removeTemplate($index)">Remove</button></h3>
      <h4 ng-show="template.versions.length > 0">Template Data</h4>
      <ul class="versions" ng-show="template.versions.length > 0">
        <li ng-repeat="version in template.versions">
          <div>Id: <a>{{version.id}}</a></div>
          <div>Active: <a>{{version.active == 1 ? true : false}}</a></div>
          <div>Name: <a>{{version.name}}</a></div>
          <div>Subject: <a>{{version.subject}}</a></div>
          <div>Updated At: <a>{{version.updated_at}}</a></div>
        </li>
      </ul>
    </li>
  </ul>
</div>
